.counselors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 5em 0;
}
.teamSectionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 75%;
  height: 75%;
}
