.sectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 50px;
}
.sectionHeader > p {
  width: 75%;
}
@media only screen and (max-width: 767px) {
  /* .sectionHeader {
    width: 90%;
  } */
  .sectionHeader > h3 {
    font-size: 28px;
  }
  .sectionHeader > P {
    font-size: 14px;
    width: 95%;
  }
}
