.serviceContentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.serviceImageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;
}
.serviceImageContainer > img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.serviceImageContainer > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.serviceImageContainer > ul > a {
  padding: 0;
  transition: 0.5s;
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 600;
  font-family: var(--fontFamily);
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.serviceImageContainer > ul > a.active {
  color: var(--mainColor);
  transition: 0.5s;
  text-decoration: underline;
}
.serviceDetailsContainer {
  display: flex;
  flex-direction: column;
}
.serviceDetailsContainer > h5 {
  margin: 1em 0 0;
}
.serviceDetailsContainer > p {
  margin: 1em 0 2em;
}
.serviceDetailsContainer > ul {
  display: flex;
  gap: 20px;
  margin: 2em 0;
}
/* .serviceDetailsContainer > ul > a:hover {
  color: var(--mainColor);
  transition: 1s all ease-in-out;
  background-color: var(--mainColor);
  color: var(--whiteColor);
} */
.serviceDetailsContainer > ul > a {
  border: 1px solid var(--mainColor);
  padding: 8px;
  border-radius: 20px;
  text-decoration: none;
  transition: 1s all ease-in-out;
}

.serviceDetailsContainer > ul > a:hover,
.serviceDetailsContainer > ul > a.active {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.servicefilteredProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.servicefilteredProjects > a {
  width: 30%;
  box-shadow: var(--boxShadow);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servicefilteredProjects > a > h4 {
  color: var(--mainColor);
}
