.counselTestimonials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9fbfe;
  padding: 1em 0 0 0;
}
.counselTestimonialContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4em 0 6em;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .counselTestimonialContent {
    padding: 0;
  }
  .counselTestimonialContent > div {
    width: 93%;
  }
  .slick-prev {
    position: absolute;
    top: 95%;
    left: 10%;
  }

  .slick-next {
    position: absolute;
    top: 95%;
    right: 60%;
  }
}
