.upcomingEvents {
  width: 100lvw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5em 0;
}
.eventsContent {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  gap: 2em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4em 0 6em;
  position: relative;
}
.eventsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
}
.eventsHeader > h3 {
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 38px;
  font-weight: 700;
}
.eventsList {
  width: 100lvw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventsListWrapper {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 2em 0;
}
@media only screen and (max-width: 767px) {
  .eventsContent {
    flex-direction: column;
  }
}
