/* SERVICE CARD */
.serviceCard {
  /* box-shadow: var(--boxShadow); */
  margin: 30px 0;
  position: relative;
  /* temporary fix for cards */
  width: 25em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: max-content;
}
.serviceCard:hover {
  box-shadow: var(--boxShadow);
  transition: 0.5s ease;
}
.aboutUsServCard {
  box-shadow: var(--boxShadow);
  margin: 30px 0;
  position: relative;
  width: 30%;
  background-color: var(--whiteColor);
}
.aboutUsServCard > div > p {
  color: var(--blackColor);
}
.serviceCard > div:nth-child(1) {
  height: 300px;
}
.serviceCardImgcont {
  width: 100%;
  height: 300px;
  position: relative;
}
.serviceCardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servCardIcon {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--mainColor);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: var(--whiteColor);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  position: absolute;
  bottom: 210px;
  left: 30px;
  z-index: 1;
  cursor: pointer;
}
.serviceCard:hover .servCardIcon {
  color: var(--whiteColor);
  background-color: var(--mainColor);
  transform: rotateY(180deg); /* Flips the icon horizontally */
}
.aboutUsServCard:hover .servCardIcon {
  color: var(--whiteColor);
  background-color: var(--mainColor);
  transform: rotateY(180deg); /* Flips the icon horizontally */
}
.servCardIcon::after {
  content: '';
  width: 0%;
  height: 0%;
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: var(--mainColor);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}
.serviceCardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;
  padding: 20px;
  height: 190px;
}
.serviceCardText > h4 {
  text-align: start;
}
.serviceCardText > h4 > a {
  margin-bottom: 12px;
  font-size: var(--card-title-fontSize);
  font-weight: 600;
  color: black;
  text-decoration: none;
  text-align: start;
}
.serviceCardText > a {
  color: black;
  text-decoration: none;
}
.serviceCard:hover .serviceCardText > a {
  color: var(--mainColor);
  text-decoration: none;
  transition: 0.5s ease;
}
.serviceCard:hover .serviceCardText > h4 > a {
  color: var(--mainColor);
  text-decoration: none;
  transition: 0.5s ease;
}
.serviceCardText > p {
  padding: 0;
  margin: 0;
  text-align: start;
}
/* FUNFACTS CARD */

.funFactsCard {
  margin-top: 30px;
  padding-left: 85px;
  padding-right: 42px;
  position: relative;
  color: var(--whiteColor);
  display: flex;
  cursor: pointer;
}
.aboutUsFunFactsCard {
  margin-top: 30px;
  padding-left: 85px;
  padding-right: 42px;
  position: relative;
  color: var(--blackColor);
  display: flex;
  cursor: pointer;
}
.aboutUsFunFactsCard::before,
.funFactsCard::before {
  content: '';
  width: 1px;
  height: 80%;
  background-color: rgba(0, 170, 85, 0.5);
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.aboutUsFunFactsCard:last-child::before {
  display: none;
}
.funFactsCard:hover .funFactsIcon {
  color: var(--whiteColor);
  background-color: var(--mainColor);
  transform: rotateY(180deg); /* Flips the icon horizontally */
}
.aboutUsFunFactsCard:hover .aboutUsFunFactsIcon {
  color: var(--whiteColor);
  background-color: var(--mainColor);
  transform: rotateY(180deg); /* Flips the icon horizontally */
}
.funFactsIcon,
.aboutUsFunFactsIcon {
  width: 70px;
  height: 70px;
  font-size: 40px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--mainColor);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: var(--whiteColor);
  position: absolute;
  left: 0;
}
.funFactsText > h2 {
  margin-bottom: 0;
  color: var(--whiteColor);
  font-size: 36px;
  font-weight: 700;
}
.aboutUsFunFactsText > h2 {
  margin-bottom: 0;
  color: var(--blackColor);
  font-size: 36px;
  font-weight: 700;
}
.funFactsText > p {
  color: var(--whiteColor);
  font-size: 14px;
}
.aboutUsFunFactsText > p {
  color: var(--blackColor);
  font-size: 14px;
}
/* upcoming events cards */

.upcomingEventCard {
  width: 420px;
  height: 100%;
  position: relative;
}
.upcomingEventCard:hover::before {
  width: 100%;
}
.upcomingEventCard::before {
  content: '';
  width: 0%;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  background-image: linear-gradient(to top, #000000, #000000b7, #00000020);
  position: absolute;
  left: 0;
  bottom: 0;
}
.upcomingEventCard > img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}
.eventsDetails {
  transition: 0.5s ease-in-out;
  padding: 30px 25px;
  position: absolute;
  opacity: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  color: var(--whiteColor);
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.upcomingEventCard:hover .eventsDetails {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.eventsDetails > ul > li {
  display: inline-block;
  margin-right: 10px;
  color: var(--mainColor);
  font-size: 15px;
  font-weight: 500;
  font-family: var(--fontFamily2);
}
.eventsDetails > ul > li:last-child {
  margin-right: 0px;
  color: var(--whiteColor);
}
.eventsDetails > h4 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: var(--card-title-fontSize);
  font-weight: 600;
  text-align: start;
}
.eventsDetails > p {
  color: var(--mainColor);
  font-size: 14px;
  margin-bottom: 8px;
}
.eventsDetails > p > svg {
  margin-right: 6px;
  font-size: 16px;
}
.eventsDetails > p > a {
  color: var(--whiteColor);
  text-decoration: none;
}
.eventsDetails > a {
  text-decoration: none;
  color: var(--whiteColor);
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .servCardIcon {
    bottom: 250px;
  }
  .funFactsCard {
    width: 25%;
  }
  .aboutUsFunFactsCard::before,
  .funFactsCard::before {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .serviceCard {
    width: 90%;
    gap: 20px;
  }

  .aboutUsServCard {
    width: 100%;
    margin: 0;
  }

  .aboutUsFunFactsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 45%;
    text-align: center;
  }
  .aboutUsFunFactsCard::before {
    display: none;
  }
  .aboutUsFunFactsText > h2 {
    font-size: 28px;
  }
  .aboutUsFunFactsIcon {
    position: relative;
  }
  .servCardIcon {
    position: absolute;
    bottom: 190px;
  }
  .serviceCardText > h4 {
    text-align: start;
    display: flex;
  }
  .serviceCardText > h4 > a {
    font-size: 16px;
    margin: 0;
  }
  .serviceCardImgcont {
    height: 320px;
  }
  .funFactsCard {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 45%;
  }
  .funFactsIcon {
    position: relative;
  }
  .funFactsCard::before {
    display: none;
  }
  .funFactsText {
    text-align: center;
  }
  .funFactsText > h2 {
    font-size: 22px;
  }
  .funFactsText > p {
    font-size: 12px;
  }
  .upcomingEventCard {
    width: 90%;
  }
  .eventsDetails > h4 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 766px) {
  .aboutUsServCard {
    width: 75%;
    margin: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .serviceCard {
    width: 85%;
  }

  .servCardIcon {
    position: absolute;
    bottom: 190px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  /* .servCardIcon {
    position: absolute;
    bottom: 240px;
  } */
}
@media only screen and (max-width: 320px) {
  .servCardIcon {
    position: absolute;
    bottom: 210px;
  }
}
