.funFacts {
  width: 100lvw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/funfactsbg.jpg");
}
.funFacts::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.funFactsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
