.Nav {
  width: 100lvw;
  position: sticky;
  top: 0;
  z-index: 9999999;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.topBar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topBarWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 45px;
}
.navIcon {
  color: var(--mainColor);
}
.leftTopInner,
.rightTopInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.mailLink,
.loginLink {
  color: white;
  text-decoration: none;
}
.mailLink:hover,
.loginLink:hover {
  text-decoration: underline;
  transition: var(--transition) ease-in-out all;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.navWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.navRight {
  width: 57%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.links {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.link-item {
  position: relative;
}

.links > .link-item > a {
  padding: 0;
  transition: 0.5s;
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 600;
  font-family: var(--fontFamily);
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.links > .link-item > a.active {
  color: var(--mainColor);
  transition: 0.5s;
}

.subItem > a.active {
  color: var(--mainColor);
  transition: 0.5s;
}

.subLinks {
  left: 0;
  top: 45px;
  opacity: 0;
  z-index: 99;
  width: 200px;
  border: none;
  display: block;
  border-radius: 0;
  visibility: hidden;
  position: absolute;
  transform: rotateX(-20deg);
  transform-origin: top;
  background: var(--whiteColor);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}
.subItem {
  position: relative;
  padding: 0;
}

.subItemLink {
  display: block;
  padding: 7px 20px;
  color: var(--blackColor);
  border-bottom: 1px dashed transparent;
  font-size: 15px;
  font-weight: 400;
  transition: 0.5s;
  position: relative;
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 600;
  font-family: var(--fontFamily);
  margin-left: 14px;
  margin-right: 14px;
}
.subItemLink:hover {
  color: var(--mainColor);
  transition: 0.5s;
}
.subItemLink::before {
  content: ">";
  font-size: 0;
  font-family: "FontAwesome";
  font-weight: 600;
  color: var(--mainColor);
  transition: 0.2s ease;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 99;
}
.subItemLink:hover::before {
  font-size: 15px;
}
.link-item:hover .subLinks {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}
.sticky {
  padding: 0px;
  background-color: var(--whiteColor) !important;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.navWrapper > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainRightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media only screen and (min-width: 1550px) {
  .topBar,
  .nav {
    width: 100%;
  }
}
