.Nav {
  width: 100lvw;
  position: sticky;
  top: 0;
  z-index: 9999999;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.topBar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topBarWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 45px;
}
.navIcon {
  color: var(--mainColor);
}
.leftTopInner,
.rightTopInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.mailLink,
.loginLink {
  color: white;
  text-decoration: none;
}
.mailLink:hover,
.loginLink:hover {
  text-decoration: underline;
  transition: var(--transition) ease-in-out all;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.navWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.navRight {
  width: 57%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.mainLinks {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.link-item {
  position: relative;
}

.mainLinks > .link-item > a {
  padding: 0;
  transition: 0.5s;
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 600;
  font-family: var(--fontFamily);
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.mainLinks > .link-item > a.active {
  color: var(--mainColor);
  transition: 0.5s;
}

.subItem > a.active {
  color: var(--mainColor);
  transition: 0.5s;
}

.subLinks {
  left: 0;
  top: 45px;
  opacity: 0;
  z-index: 99;
  width: 200px;
  border: none;
  display: block;
  border-radius: 0;
  visibility: hidden;
  position: absolute;
  transform: rotateX(-20deg);
  transform-origin: top;
  background: var(--whiteColor);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}
.subItem {
  position: relative;
  padding: 0;
}

.subItemLink {
  display: block;
  padding: 7px 20px;
  color: var(--blackColor);
  border-bottom: 1px dashed transparent;
  font-size: 15px;
  font-weight: 400;
  transition: 0.5s;
  position: relative;
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 600;
  font-family: var(--fontFamily);
  margin-left: 14px;
  margin-right: 14px;
}
.subItemLink:hover {
  color: var(--mainColor);
  transition: 0.5s;
}
.subItemLink::before {
  content: ">";
  font-size: 0;
  font-family: "FontAwesome";
  font-weight: 600;
  color: var(--mainColor);
  transition: 0.2s ease;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 99;
}
.subItemLink:hover::before {
  font-size: 15px;
}
.link-item:hover .subLinks {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}
.sticky {
  padding: 0px;
  background-color: var(--whiteColor) !important;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.navWrapper > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainRightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.mobileLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 45svh;
  width: 100vw;
  background: white;
  top: 45px;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.mobileLinkWrapper {
  padding: 32px 0 32px 32px;
  border-top: 1px solid #e7e7e9;
  width: 100svw;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.mobileOverlay {
  position: absolute;
  top: 45px;
  cursor: pointer;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.8s all ease-in-out;
}

.mobileLinks.open {
  animation: slideIn 0.5s forwards;
}

.mobileLinks.closing {
  animation: slideOut 0.5s forwards;
}

.closeButton {
  background: none;
  border: none;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  color: var(--blackColor);
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  height: 50%;
  cursor: pointer;
}

.hamburgerMenu > span {
  width: 40px;
  height: 6px;
  border-radius: 30px;
  background-color: var(--blackColor);
}
.mobileLinkItems > a {
  font-weight: bold;
  font-size: 18px;
  color: var(--blackColor);
}
.mobileLinkItems > a.active {
  color: var(--mainColor);
}
.mobileSubLinks {
  margin-top: 15px;
  padding-left: 30px;
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  font-weight: 600;
}
.mobileSubLink a {
  font-weight: 400;
}
.mobileSubLink a.active {
  color: var(--mainColor);
  font-weight: 700;
}
.mobileTop {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 15%;
  align-items: center;
  align-self: center;
}
@media only screen and (max-width: 990px) {
  .mainLinks {
    display: none;
  }
  .mainRightContainer > button {
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 990px) {
  .hamburgerMenu,
  .mobileLinks,
  .mobileOverlay {
    display: none;
  }
}

@media only screen and (min-width: 1550px) {
  .topBar,
  .nav {
    width: 100%;
  }
}
